@import "../../../styling-variables/index.scss";

@keyframes slide-from-right {
  0% {
    transform: translate(500px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes slide-from-left {
  0% {
    transform: translate(-500px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

.animated-from-left {
  animation: slide-from-left 1.25s 1;
}

.animated-from-right {
  animation: slide-from-right 1.25s 1;
}

#project-cards {
  height: 55vh;
  // min-height: 50px;
  width: 100vw;
  max-width: 1800px;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 20px;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 47vh;
    min-height: 450px;
    width: 25vw;
    min-width: 350px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.452);
    border: 1px solid $lighter-grey;
    border-radius: 25px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    img {
      height: 50%;
      width: 100%;
      margin-bottom: 10px;
    }

    span {
      color: red;
      font-weight: $medium;
    }

    .card-content {
      padding: 0px 5px 10px 5px;

      p {
        margin: 5px;
      }
    }
  }
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 12;
}

.modal-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  min-height: 845px;
  width: 60vw;
  max-width: 950px;
  text-align: center;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.452);
  border: 1px solid $lighter-grey;
  border-radius: 25px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  // position: fixed;
  // left: 20vw;
  // top: 12.5vh;
  position: fixed;
  left: 50vw;
  top: 50vh;
  margin-left: -450px;
  margin-top: -425px;
  z-index: 15;
  background-color: $dark-grey;

  img {
    height: 40vh;
    width: 100%;
  }

  .modal-card-content {
    padding-top: 10px;
    color: $white;
    font-weight: $thin;

    h3,
    h4 {
      font-family: $fancy-font;
      font-weight: $medium-thick;
      font-size: 32px;
      color: $teal;
    }

    p {
      margin: 5px;
      padding-left: 5vw;
      padding-right: 5vw;
      font-size: 16px;
    }

    .links {
      height: 5vh;
      width: 8vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;

      a {
        color: $teal;

        &:hover {
          color: $white;
        }
      }
    }
  }
}

#coming-soon {
  opacity: 50%;
}

@media screen and (max-width: 1019px) {
  #project-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150vh;

    .card {
      margin-bottom: 10px;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .modal-card {
    left: 65vw;
    top: 45vh;
    height: 95vh;
    // margin-left: -450px;
    // margin-top: -425px;

    .modal-card-content {
      padding-top: 15px;
    }
  }
}

@media screen and (max-width: 650px) {
  #project-cards {
    height: 150vh;
    justify-content: flex-start;

    .card {
      margin-bottom: 25px;
    }
  }

  .modal-card {
    left: 92vw;
    top: 50vh;
    width: 90vw;
    height: 92vh;
  }
}

@media screen and (max-width: 450px) {
  #project-cards {
    height: 175vh;
  }

  .modal-card {
    left: 115vw;
    width: 100vw;
    top: 60vh;

    .modal-card-content {
      h3,
      h4 {
        font-size: 16px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}
