@import "../../styling-variables/index.scss";

@keyframes slide-from-left {
  0% {
    transform: translate(-500px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes slide-from-right {
  0% {
    transform: translate(500px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

.animated-from-left {
  animation: slide-from-left 1.25s 1;
}

.animated-from-right {
  animation: slide-from-right 1.25s 1;
}

#portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 1400px;
  width: 100vw;
  padding-top: 5vh;

  .portfolio-header {
    width: 100vw;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 2vh;
  }

  .projects-header {
    width: 100vw;
    padding-left: 5vw;
  }
}
