@import "../../styling-variables/index.scss";

@keyframes slide-from-right {
  0% {
    transform: translate(500px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes slide-from-left {
  0% {
    transform: translate(-500px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

.animated-from-left {
  animation: slide-from-left 1.25s 1;
}

.animated-from-right {
  animation: slide-from-right 1.25s 1;
}

#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
  // padding-top: 10vh;

  .about-img {
    height: 40vh;
    width: 60vw;

    img {
      height: 100%;
      width: 100%;
      border: 1px solid $white;
      border-radius: 25px;
      overflow: hidden;
      margin-top: 10vh;
    }
  }

  .about-content {
    height: 50vh;
    width: 60vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 7vh;

    h3 {
      font-family: $fancy-font;
      font-weight: $medium-thick;
      font-size: 52px;
      color: black;
      margin-bottom: 3vh;
      text-decoration: underline;

      span {
        color: $teal;
        font-family: $fancy-font;
        font-weight: $medium-thick;
        font-size: 52px;
      }
    }

    p {
      font-weight: $medium;
      font-size: 18px;
      margin-bottom: 3vh;
    }
  }
}
