@import "../../styling-variables/index.scss";

@keyframes slide-from-right {
  0% {
    transform: translate(500px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes slide-from-left {
  0% {
    transform: translate(-500px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

.animated-from-left {
  animation: slide-from-left 1.25s 1;
}

.animated-from-right {
  animation: slide-from-right 1.25s 1;
}

#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;

  .about-img {
    height: 40vh;
    width: 60vw;
    // animation-name: slide-from-left;
    // animation-duration: 1.25s;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .about-content {
    height: 50vh;
    width: 60vw;
    padding-left: 5vw;
    padding-right: 5vw;
    // animation-name: slide-from-right;
    // animation-duration: 1.25s;
  }
}
